<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %} 
    
    
    <!-- Main -->
    <div id="main" class="alt">

      <!-- One -->
      <section id="one">
	       <div class="inner">
            <div class="table-wrapper">
              <table>
                <thead>
                  {% for post in paginator.posts %}
	                {% if post.title != 404 %}
	               <th><span style="background-image: url({{ '/assets' | prepend: site.baseurl | append: post.img }}); background-size: cover;" class="image fit"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></th>
                 {% endif %}
                 {% endfor %}
	              </thead>
                <tbody>
                {% for img in paginator.posts %}
                {% if img.title != 404 %}
                <tr>
	                 <td>{% if img.image %}<span class="image fit"><img src="{{ site.baseurl }}/{{ img.image }}" alt="" /></span>{% endif %}</td>
                </tr>
	               {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
	     </div>
    </section>

    </div>
    <div class="inner">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">
            Previous
        </a>
        {% else %}
        <span class="previous">Previous</span>
        {% endif %}
        <span class="page_number ">
            Page: {{ paginator.page }} of {{ paginator.total_pages }}
        </span>
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
        {% else %}
        <span class="next ">Next</span>
        {% endif %}
    </div>

    {% include footer.html %}

  </body>

</html>