<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %} 
    
    
    <!-- Main -->
    <div id="main" class="alt">

      <!-- One -->
      <section id="one">
	       <div class="inner">
          <div class="row">
            <div class="table-wrapper">
              <table>
                <!-- <thead>
                  {% for post in paginator.posts %}
	                {% if post.title != 404 %}
	               <th><a class="post-link" href="{{ post.url | relative_url }}" style="text-align: center">{{ post.title | escape }}</a></th>
                 {% endif %}
                 {% endfor %}
	              </thead> -->
                <tbody>
                {% for img in paginator.posts %}
                {% if img.title != 404 %}
                <div class="4u">
                  <tr>
	                  <td>{% if img.image %}<span class="image fit"><a class="post-link" href="{{ img.url | relative_url }}"><img src="{{ site.baseurl }}/{{ img.image }}" alt="" /></a></span>{% endif %}</td>
                  </tr>
                </div>
	               {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
	     </div>
    </section>

    </div>
    <div class="inner">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">
            Previous
        </a>
        {% else %}
        <span class="previous">Previous</span>
        {% endif %}
        <span class="page_number ">
            Page: {{ paginator.page }} of {{ paginator.total_pages }}
        </span>
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
        {% else %}
        <span class="next ">Next</span>
        {% endif %}
    </div>

    {% include footer.html %}

  </body>

</html>