/* Type */

body, input, select, textarea {
    color: _palette(fg);
    font-family: _font(family);
    font-size: 17pt;
    font-weight: _font(weight);
    letter-spacing: _font(letter-spacing);
    line-height: 1.65;

    @include breakpoint(xlarge) {
        font-size: 14pt;
    }

    @include breakpoint(large) {
        font-size: 12pt;
    }

    @include breakpoint(xxsmall) {
        font-size: 11pt;
    }
}

a {
    @include vendor('transition', ('color #{_duration(transition)} ease-in-out'))
}